/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require milligram
 *= require_tree .
 *= require_self
 */
 
[data-method="delete"],
[data-method="delete"]:hover,
[data-method="delete"]:focus {
  color: #ee3131;
}
a:hover {
  font-weight: bold;
}

a.button:hover {
  text-decoration: none;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  font-weight: 300;
}

.button[data-method="delete"],
.button[data-method="delete"]:hover,
.button[data-method="delete"]:focus {
  border-color: #ee3131;
}
.button.button-outline[data-method="delete"],
.button.button-outline[data-method="delete"]:hover,
.button.button-outline[data-method="delete"]:focus {
  color: #ee3131;
}

.button-default {
  background-color: #313131;
  border-color: #313131;
}
.button-default.button-outline {
  color: #313131;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 .7rem;
}

h2.section-title {
  margin-bottom: 0;
}
